{% extends 'base.html.twig' %}

{% block title %}Nouvelle Reservation{% endblock %}

{% block body %}
    <img src="{{ asset('images/05.jpeg') }}">
    <h1>Faites ici votre reservation</h1>
    <br>
    <br>

    {{ include('reservation/_form.html.twig') }}

    <a href="{{ path('reservation_index') }}">  <button class="btn">Retour a la liste</button></a>
{% endblock %}
