{% extends 'base.html.twig' %}

{% block title %}Edit Chambre{% endblock %}

{% block body %}
    <br>
    <br>

    <img src="/images/full-slider-3.jpg" alt="image de represantation de chambre">
    <h1>Modifier la  Chambre</h1>
    {{ include('chambre/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('chambre_index') }}"> <input type="button" value="Retour a la liste" /></a>

    {{ include('chambre/_delete_form.html.twig') }}
{% endblock %}
