{% extends 'base.html.twig' %}

{% block title %}Nouvelle piece{% endblock %}

{% block body %}
    <br>
    <br>

    <img src="/images/full-slider-2.jpg" alt="image de represantation de chambre">
    <h1>Ajouter une nouvelle Chambre</h1>
    {{ include('chambre/_form.html.twig') }}
    <br>
    <br>
    <br>
    <a href="{{ path('chambre_index') }}"> <input type="button" value="Retour a la liste" /></a>
    <br>
    <br>
    <br>
{% endblock %}
