{% extends 'base.html.twig' %}

{% block title %}New Client{% endblock %}

{% block body %}
<img src="/images/full-slider-1.jpg" alt="image de represantation de chambre">
    <br>
    <h1>Ajouter un nouveau client</h1>
    <br>
    {{ include('client/_form.html.twig') }}

    <a href="{{ path('client_index') }}"><input type="button" value="Retour a la liste"/></a>
{% endblock %}
